* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
  }
  
  .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
  
  .imgTopo {
    margin-left: 10px;
  }
  
  .perfilUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
  }
  
  .imgPerfil {
    margin: 10px;
  }
  
  .retanglos {
    position: relative;
    z-index: 2;
    display: flex;
  }
  
  .retanglo1 {
    width: 20%;
    height: 4px;
    background-color: #aa6f34;
  }
  
  .retanglo2 {
    width: 20%;
    height: 4px;
    background-color: #f48221;
  }
  
  .retanglo3 {
    width: 20%;
    height: 4px;
    background-color: #d2772e;
  }
  
  .retanglo4 {
    width: 20%;
    height: 4px;
    background-color: #faa61a;
  }
  
  .retanglo5 {
    width: 20%;
    height: 4px;
    background-color: #f9e423;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-height: 100%;
    background-color: #f9e423;
  }
  
  .menuInicio {
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 50px;
    align-items: center;
    color: #AA6F34;
    border-left: 8px solid #f9e423;
  }
  .menuInicio:hover{
    border-left: 8px solid #F48221;
    background-color: #FAA61A;
    color: #ffffff;
  }
  
  .menuInicioUsuario {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .containerMain {
    flex-grow: 1;
    padding: 20px;
  }
  
  .titulo1 {
  color:#AA6F34;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  }
  
  .titulo2 {
  color: #757575;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  }
  
  .faleConosco {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .divisaoUsuarios {
    flex-direction: column;
  }
  
  .menuUsuarios {
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
  }
  
  .menuImagens {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 30px;
    border-left: 8px solid #f9e423;
    height: 4px;
    color:#AA6F34;
  }
  
  .menuImagens:hover {
    border-left: 8px solid #F48221;
    background-color: #FAA61A;
    color: #ffffff;
  }
  
  .imagemBotao {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .uluser {
    display: none;
    list-style-type: none;
    
  }
  
  .uluser li {
    background-color: #faa61a;
    padding: 20px;
    border-left: 8px solid #f48221;
    padding-left: 66px;
  }
  
  .uluser li:hover{
    background-color: #F48221;
  }
  
  .uluser a {
    text-decoration: none;
    color: #ffffff;
    /* margin-left: 32px; */
  }
  
  .conteudo {
    display: flex;
    flex-grow: 1;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

  }

  th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 2px solid #e0e0e0;
    padding-left: 26px;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #FCFCFC
}

  th{
    background-color: #e0e0e0;  
  }

  .addProfessorAluno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .botaoAdcionar {
  width: 100%;
  height: 36px;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background: #00c247;
  cursor: pointer;
  }

  .inputUsuario {
    padding-left: 10px;
    width: 30%;
    height: 36px;
    border: none;
    border-radius: 8px;
  }

  .inputAdd {
    position: relative;
    width: 75%;
    
  }

  .imagemAdd {
    position: absolute;
    top: 19%;
    left: 28%;
    cursor: pointer;
  }

  .botoesUsuarios {
    display: flex;
    justify-content: center;
  }

  span {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  span img {
    cursor: pointer;
  }

  #iconeativo {
    margin-left: 10px;
  }
  
  .novoUsuario {
    position: relative;
    width: 16%;

  }

  .imagemNovoUsuario {
    position: absolute;
    top: 29%;
    left: 15%;
    width: 17px;
}
